body{background-color: #e9e9e9; }
h3{margin: 0; }

aside#pluginlist{
	float: right;
	width: 300px; 
}

aside#pluginlist div.plugin{
	height: 42px; 
	border: 1px solid #333; 
	margin: 10px;
   	text-align: center;
	padding-top: 4px; 
	background-color: #efefef;
	box-shadow: 1px 1px 1px #333;	

}
aside#pluginlist div.plugin div.admin
{
	display:none; 
}

div#main{
	float: left; 
	width: 800px;
}

section#activeplugins
{
	width: 500px; 
	margin: 0 auto; 
	border: 1px solid #333; 
	min-height: 200px; 
}

section#activeplugins.over{
border: 5px solid #333; 
}
/* Prevent the text contents of draggable elements from being selectable. */

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

